<!--TODO-->

<div class="search">

  <mat-card class="card">

    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput value="{{query}}" [formControl]="SearchControl">
<!--             (input)="search(query)">-->
    </mat-form-field>

    <!--    search button -->
    <button mat-flat-button class="button" (click)="search(query)" routerLink="/viewReviews">Search</button>


  </mat-card>
</div>



<!--<div class="fab-container">-->
<!--  <button mat-flat-button color="primary"  matTooltip="Add new class" (click)="createPARecord()">-->
<!--    <i class="material-icons">add</i>-->
<!--  </button>-->
<!--</div>-->


<div class="but">
  <button mat-flat-button color="primary" matTooltip="Add new review" (click)="navToCreate()">
    <i class="material-icons">add</i>
  </button>
</div>

