.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 45%;
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
