<!--TODO-->

<div class="create">

    <mat-card class="card">

        <div>

        </div>
        <mat-form-field appearance="fill">
            <mat-label>Location</mat-label>
            <input matInput value="{{location}}" (input)="updateLocation($event)" [formControl]="locationCntrl">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput value="{{description}}" (input)="updateDesription($event)">
        </mat-form-field>

        <div class="rating">
            <div *ngFor="let star of rating" (click)="selectRating(star.id)">
                <mat-icon [ngStyle]="{'color':star.color}">star</mat-icon>
            </div>
        </div>

        <!--    save button -->
        <button mat-flat-button class="button" (click)="save()">Save</button>

    </mat-card>
</div>