<body>
    <mat-toolbar *ngIf="isUser">
        <mat-toolbar-row>


            <div class="circle" [ngStyle]="{ 'background-color': circleColor }">
                <div class="initials">
                    {{getInitials}}
                </div>
            </div>

            <button mat-button (click)="goToHome()">My Reviews </button>

            <span class="flexExpand"></span>
            <div>
                <button mat-button (click)="logout()">Logout </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>


    <router-outlet>


    </router-outlet>
</body>