<mat-toolbar *ngIf="isUser">
    <mat-toolbar>
        <mat-toolbar-row>


            <div class="circle" [ngStyle]="{ 'background-color': circleColor }">{{initials}}</div>

            <span class="flexExpand"></span>
            <div>
            <button mat-button routerLink="/">Home</button>
            </div>

            <div>
                <button mat-button (click)="logout()">Logout </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</mat-toolbar>
<router-outlet></router-outlet>
