.my-avatar /deep/ .avatar-content {
    background-color: red !important;
}

.flexExpand {
    flex: 1 1 auto;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initials {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
}