.active-pink-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    align-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}

.active-pink input[type=search] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    align-self: center;
    text-align: center;
    justify-content: center;
    display: grid;
    align-items: center;
}

.input-card {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-rows: 50px 50px;
    width: 400px;
    height: 100px;
}

.body {
    background-color: darkcyan !important;
}

.my-avatar /deep/ .avatar-content {
    background-color: red !important;
}

.flexExpand {
    flex: 1 1 auto;
}

.circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.initials {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: 0.2625px;
}

.title {
  margin-left: 10px;
  font-size: 30px;
}
