<!--TODOc: add a tooltip that will show the username that created the parecord. Hint: https://stackblitz.com/angular/ygnjpyayagb?file=src%2Fapp%2Ftooltip-message-example.ts-->

<mat-card class="parecord-card" [matTooltip]="parecord.createdBy.username">
<!--  <div class="mat-app-background basic-container">-->
<!--    <tooltip-message-example>{{parecord.createdBy}}</tooltip-message-example>-->
<!--  </div>-->

  <div class="date" >{{parecord.createdDate | date}}</div>

  <mat-icon class="type">{{activity}}</mat-icon>

  <div class="titletime">{{parecord.minutes}} Minutes</div>
  <div class="titlecal">{{parecord.calories}} Calories</div>


  <section class="calories">
    <mat-progress-bar
      class="example-margin"
      [color]="color2"
      [mode]="mode"
      [value]=[calprogressvalue]
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>

  <section class="time">
    <mat-progress-bar
      class="example-margin"
      [color]="color1"
      [mode]="mode"
      [value]=[minprogressvalue]
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </section>

  <div class="caloriesgoal">{{calprogressvalue}}%</div>
  <div class="timegoal">{{minprogressvalue}}%</div>

<div class="menu">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
<!--    <button mat-menu-item (click)="notImplemented('Edit activity')">-->
    <button mat-menu-item (click)="edit(parecord)">
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
       <button mat-menu-item (click)="delete(parecord.createdDate)">
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </mat-menu>
  </div>


</mat-card>


