.avatar {
  grid-area: avatar;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: black;
  align-self: start;
}

.menu{
  grid-area: menu;
  justify-self: end;
  align-self: start;
}

.review-card {
  display: grid;
  grid-template-columns: 10% 5% 40% 40% 5%;
  grid-template-rows: 60px;
  grid-template-areas:
    "avatar header . . menu"
    "rating date . . ."

    "review review review review review";
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  width: 80%;
  margin-left: 10px;
}

.date {
  grid-area: date;
}
.rating {
  grid-area: rating;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3px 3px 3px 3px;
}

.review {
  grid-area: review
}
