<mat-card class="review-card">

  <div class="avatar"></div>
  <div class="header">
  <div class="username"><b>Username</b></div>
  <div class="location">Location</div>
  </div>

  <div class="rating">
    <span class="fa fa-star checked">★</span>
    <span class="fa fa-star checked">★</span>
    <span class="fa fa-star checked">★</span>
    <span class="fa fa-star">★</span>
    <span class="fa fa-star">★</span>
  </div>

  <div class="date">8/12/2021</div>

  <div class="review"> Review Review Review Review Review Review Review Review
    Review Review Review Review Review Review Review Review Review Review Review Review
  </div>

  <div class="menu">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/edit">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
<!--      TODO: delete-->
      <button mat-menu-item (click)="delete()">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>

  </div>
</mat-card>
