/*TODOc: see video.*/
.settings-seekbar-card {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 60px 420px;
  width: 420px;
}
.minutes-seekbar {
  height: 400px;
  width: 20px
}
.settings {
  display: grid;
  justify-content: center;
  align-items: center;
}



.seekbars {
  display: grid;
  grid-template-columns: 100px 100px;
}

.settings-input-card {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-rows: 50px 50px;
  width: 400px;
  height: 100px;
}



.input-fields {
  display: flex;
  grid-template-columns: 50px 50px;
}


.input {
  display: grid;
  justify-content: center;
  align-items: center;
}

.calorie-seekbar {
  height: 400px;
  width: 30px;
}
