<!--TODO-->
<div class="settings">
  <div>
    <mat-card class="settings-seekbar-card">
      <strong size="5">Goal setting</strong>
      <div class="seekbars">
        <div>
          <mat-slider vertical thumbLabel class="seekbar" min="1000" max="3000" step="50" value={{calgoal}} (input)="changefromsliderCal($event)"> </mat-slider>
        </div>
        <div>
          <mat-slider vertical thumbLabel class="seekbar" min="15" max="360" step="5" value={{mingoal}} (input)="changefromsliderMin($event)"> </mat-slider>
        </div>
      </div>
    </mat-card>
  </div>


  <div class="input">
    <mat-card class="settings-input-card">
      <div class="input-fields">
        <div>

          <mat-form-field class="calorie-input">
            <mat-label>cals</mat-label>

            <input matInput value="{{calgoal}}" type="number" min="1000" max="3000" [formControl]=" caloriecontroller " (input)="changecals($event)">
          </mat-form-field>

        </div>
        <div>
          <mat-form-field class="minutes-input ">
            <mat-label>mins</mat-label>

            <input matInput value="{{mingoal}}" type="number" min="15" max="360" [formControl]="minutecontroller" (input)="changeminutes($event)">
          </mat-form-field>

        </div>
      </div>
      <div>

        <button mat-flat-button class="save-button " (click)="update()">Save</button>
      </div>

    </mat-card>
  </div>


</div>
